/*Vishal Thakur added backgroung color and dimension for homepage*/
html {
    background: #333;
    font-family: Verdana, sans-serif;
}
body {
    background: white;
    padding: 1em;
    border-radius: 1em;
}
.passage-audio {
    height: 2em;
}
#passage-audio {
    width: 100%;
    max-height: 2em;
}
#passage-text.speaking {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.section-heading {
    display: none;
}

.verse-start {
    line-height: 0;
}
/* Vivek Bhatnager added highliting of mouse-focus and hoverand pointer,footer-coloring and alignment of border */

.initialized span[data-begin]:focus,
.initialized span[data-begin]:hover {   
    background-color: #FFFFCA;
    box-shadow: 0px 0px 4px #FFFFCA;
}
.initialized span[data-begin].speaking {
    background-color: yellow;			
    box-shadow: 0px 0px 4px yellow;
}
.initialized span[data-begin] {
    cursor: pointer;

}
   /**
vivek
added code to hightlight the words in bookmark 
**/

.initialized span[data-begin].bookmark {

    background-color: orange;
    box-shadow: 0px 0px 4px orange ;

}
.error {
    color: red;
}

/*vivek added code to highligh text*/
.HighlightingSearchWord{
align : right;
}

.highlight {
background-color:lightseagreen;
}

article > footer {
    border-top: solid 1px gray;
    padding-top: 1em;
    margin-top: 1em;
}

footer {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: small;
}
footer img {
    vertical-align: text-bottom;
}