<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Transcript Management System</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/Style.css">
<h1>Transcript Management System</h1>
_____________________________________________

<body  ng-app="jsApp">

<div ng-controller="MainCtrl">
    <br>
    <div class="preview" ng-mouseup="showSelectedText()">

        <input type="file" id="file" name="file"/>
        <button ng-click="uploadTextFile()">Upload Text File</button>
       <br><br> <textarea rows="20" cols="50" >{{data}}</textarea></br>
    </div>

   <br><br> <div><b>Selected Text:</b>  {{selectedText}} </div>

    _____________________________________________
    <br><br>
    <div>
        <label><b>Select a Audio:</b></label>
       <select ng-model="selectoption" ng-options="opt.options for opt in UserOptions"  ng-change="ChooseOption(selectoption)"></select>
        <br>
    </div>
    <br>
    <audio id="audioRef" ng-src="{{filepath}}" controls ></audio>
    <br><br>
    <button ng-click="newProject();">NewProject</button>
    <button ng-click="playAudio();">Play</button>
    <button ng-click="pauseAudio();">Pause</button>
    <button ng-click="saveBookMark();">SaveBookMark</button>
    <button ng-click="playBackWithBookmark();">PlayWithBookMark</button>


</div>

</body>

<!--Angular components-->
<script src="bower_components/angular/angular.js"></script>

<!--scripts files-->
<script  type="text/javascript" src="scripts/app.js"></script>
<script  type="text/javascript" src="scripts/main.js"></script>
</html>